.root{
	width:100%;
}
:host {
	width:100%;
}
.card-outline-success{
	border-color:#5CB85C;
}
.card-header{
	color:#FFF;
}
.actions{
	span{
		cursor:pointer;
	}
}
.categoria{
	display: flex;
	flex-direction:column;
	.controls{
		display: flex;
		flex-direction: row;
		select{
			width: calc(100% - 150px);
		}
		button{
			display: flex;
			width:165px;
			text-align: center;
			margin-left: 15px;
			i{
				font-size: 1.5rem;
			}
		}
	}
	.labels{
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		height: 50px;
		width: 100%;
		.labelt{
			height: 30px;
			margin-top: 5px;
			width: 150px;
			text-align: center;
			vertical-align: middle;
			line-height: 30px;
			border-radius:5px;
			margin-right: 5px;
		}
	}
}