<!-- VISOR -->
<div class="root" *ngIf="view=='visor'">
  <div class="card card-outline-primary">
    <div class="card-header card-primary">Administrador de Sedes</div> 
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>Nombre de la Sede</th>
        <th>Direccion</th>
        <th>Areas</th>
        <th>Lugares</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let sede of sedes">
          <td>{{ sede.ID_SEDE }}</td>
          <td>{{ sede.NOMBRE_SEDE }}</td>
          <td>{{ sede.DIRECCION  }}</td>
          <td>{{ sede.AREAS  }}</td>
          <td>{{ sede.LUGARES  }}</td>
          <td class="actions">
            <span (click)="goEdit(sede)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <span (click)="delete(sede)"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </td>
        </tr>
        <tr *ngIf="sedes && sedes.length == 0"><td colspan="3">No existen sedes registradas.</td></tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-success" (click)="view='form'">Crear Sede</button>
</div>
<!-- FORMULARIO -->
<div class="root" *ngIf="view=='form' || view=='edit'">
  <form (submit)="save($event)">
    <div class="card card-outline-success">
      <div class="card-header card-success">Crear Lugar</div> 
      <div class="card-block">
        <div class="form-group">
          <label for="nombre-txt">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="dataIn.NOMBRE_SEDE" name="nombre" id="nombre-txt" aria-describedby="nombre-txt" placeholder="Nombre de la sede" required>
          <small id="nombre-txt" class="form-text text-muted">Nombre de la sede fisica..</small>
        </div>
        <div class="form-group">
          <label for="direccion-txt">Dirección</label>
          <input type="text" class="form-control" [(ngModel)]="dataIn.DIRECCION" name="direccion" id="direccion-txt" aria-describedby="direccion-txt" placeholder="Dirección de la sede" required>
          <small id="direccion-txt" class="form-text text-muted">Dirección donde se ubica la sede.</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" *ngIf="view=='form'">Crear Sede</button>
    <button type="submit" class="btn btn-success" *ngIf="view=='edit'">Editar Sede</button>
    <button type="button" class="btn btn-warning" (click)="view='visor'">Volver</button>
  </form>
</div>