<!-- VISOR -->
<div class="root" *ngIf="view=='visor'">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab === 'admin'" (click)="tab='admin'" data-toggle="tab" ole="tab">Administrador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab === 'group'" (click)="tab='group'" data-toggle="tab" role="tab">Agrupaciones</a>
    </li>
  </ul>
  <br>
  <div class="card card-outline-success">
    <div class="card-header card-success">Administrador de lugares</div> 
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>Nombre de Lugar</th>
        <th>Sede</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let lugar of lugares">
          <td>{{ lugar.ID_LUGAR }}</td>
          <td>{{ lugar.NOMBRE_LUGAR }}</td>
          <td>{{ lugar.SEDE ? lugar.SEDE.NOMBRE_SEDE : "No Registra" }}</td>
          <td class="actions">
            <span (click)="goEdit(lugar)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <span (click)="delete(lugar)"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </td>
        </tr>
        <tr *ngIf="lugares && lugares.length == 0"><td colspan="3">No existen lugares registrados.</td></tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-success" (click)="view='form'">Crear Lugar</button>
</div>
<!-- FORMULARIO -->
<div class="root" *ngIf="view=='form' || view=='edit'">
  <form (submit)="save($event)">
    <div class="card card-outline-success">
      <div class="card-header card-success">Crear Lugar</div> 
      <div class="card-block">
        <div class="form-group">
          <label for="nombre-txt">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="dataIn.NOMBRE_LUGAR" name="nombre" id="nombre-txt" aria-describedby="nombre-txt" placeholder="Nombre del lugar" required>
          <small id="nombre-txt" class="form-text text-muted">Nombre descriptivo del lugar dentro de la sede.</small>
        </div>
        <div class="form-group">
          <label for="sede-select">Sede</label>
          <select class="form-control" id="sede-select" [(ngModel)]="dataIn.SEDE" name="sede" required>
            <option value="">Seleccionar Sede</option>
            <option *ngFor="let sede of sedes" [value]="sede.ID_SEDE">{{ sede.NOMBRE_SEDE }}</option>
          </select>
          <small id="nombre-txt" class="form-text text-muted">Nombre de la sede a la que pertenece el lugar.</small>
        </div>
        <div class="form-group">
          <label for="inventario-txt">Inventario</label>
          <div class="inventario">
            <input class="form-control" ng2-auto-complete #invsearch [(ngModel)]="selected_inv" [source]="inventario(invsearch.value)" value-property-name="key" display-property-name="name" name="inventario" id="inventario-txt" aria-describedby="inventario-txt" placeholder="Modelo o Codigo de Inventario">
            <button type="button" (click)="addinv()">Agregar</button>
          </div>
          <small id="nombre-txt" class="form-text text-muted">Agregue elementos de inventario al lugar.</small>
        </div>
      </div>
    </div>
    <div class="card card-outline-success">
      <div class="card-header card-success">Inventario</div> 
      <table class="table table-striped">
        <thead>
          <th>Tipo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Codigo</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of this.dataIn.INVENTARIO">
            <td>{{ elemento.TIPO.NOMBRE }}</td>
            <td>{{ elemento.MARCA }}</td>
            <td>{{ elemento.MODELO }}</td>
            <td>{{ elemento.CODIGO }}</td>
            <td class="actions">
              <span (click)="deleteItem(elemento)"><i class="fa fa-trash" aria-hidden="true"></i></span>
            </td>
          </tr>
          <tr *ngIf="dataIn.INVENTARIO && dataIn.INVENTARIO.length == 0"><td colspan="3">No extisten elementos registrados.</td></tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success" *ngIf="view=='form'">Crear Lugar</button>
    <button type="submit" class="btn btn-success" *ngIf="view=='edit'">Editar Lugar</button>
    <button type="button" class="btn btn-warning" (click)="view='visor'">Volver</button>
  </form>
</div>