.root{
	width:100%;
}
:host {
	width:100%;
}
.card-outline-success{
	border-color:#5CB85C;
}
.card-header{
	color:#FFF;
}
.actions{
	span{
		cursor:pointer;
	}
}
.inventario{
	display:flex;

	input{
		display:flex;
		width: 100%;
		margin-right:10px;
	}
	button{
		display:flex;
		justify-content:center;
		width:200px;
		text-align:center;
		border:1px #5CB85C solid;
		border-radius:5px;
		background:#5CB85C;
		color: #FFF;
	}
}
.ng2-auto-complete-wrapper{
	display:flex;
	width: calc(100% - 210px);
}